@charset "ISO-8859-1";
.footer{
  	background-color:#84ab4b;
  	border-color: #FFFFFF;
  	color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 15px;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
	background-color: #e9ecef;
}

.active {
    background-color:#84ab4b;
}