{% extends 'base.html' %}
{% block body_block %}
	<h1>Add new flea</h1>
	<form id='flea_form' method=post action='/dog/{{dog.slug}}/add_flea/'>
		{% csrf_token %}	
		{{ form.as_p }}
		<br/>
		<input type='submit' name='submit' value='Create flea'>
	</form>
{% endblock %}

{% block local_script %}
  	<script>
    	$(document).ready(function() {
        	$('.datepicker').datepicker(
            	{
                	format: "mm/dd/yyyy",
                	todayBtn: "linked",
                	autoclose: true,
                	todayHighlight: true
            	}
        	);
 
    	});
  	</script>
{% endblock %}