{% extends 'base.html' %}
{% block body_block %}
<h1>Add new dogggy</h1>
<form id='dog_form' method=post action=''>
	{% csrf_token %}	
	{{ form.as_p }}
	<br/>
	<input type='submit' name='submit' value='Create dogggy'>
</form>
{% endblock %}



