{% load staticfiles %}
{% load dogshit_extras %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Dogs, Fleas and stuff</title>
	<link rel="icon" href="{% static "dog.jpg" %}">
	<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
	<link href="{% static "css/app1.css" %}" rel="stylesheet">	
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/css/bootstrap-formhelpers.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css">
</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      	<div class="container-fluid">
        	<div class="navbar-header">
	          	<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
	            	<span class="sr-only">Toggle navigation</span>
	            	<span class="icon-bar"></span>
	            	<span class="icon-bar"></span>
	            	<span class="icon-bar"></span>
	          	</button>
	          	<a class="navbar-brand" href="/">Flea infested boys</a>
        	</div>
        	<div class="navbar-collapse collapse">
	          	<ul class="nav navbar-nav navbar-right">
	                	<li><a href="{% url 'index' %}">Home</a></li>
	                	<li><a href="{% url 'about' %}">About</a></li>
	          	</ul>
        	</div>
   	   	</div>
    </div>
    <br/><br/><br/><br/>
    
    <div class="container-fluid">
      	<div class="row">
        	<div class="col-sm-3 col-md-3 sidenav">
        	{% block side_block %}
		        {% get_dogs dog %}
            {% endblock %}
        	</div>	
        	<div class="col-sm-9 col-sm-offset-2 col-md-9 col-md-offset-2 main">
               	{% block body_block %}
               		<h3 id = "heading">Now let's get to those cutties...</h3>
               	{% endblock %}
        	</div>
      </div>
    </div>
    
	{% block footer %}
	<div class="footer navbar-inverse navbar-fixed-bottom">
		<div class="container-fluid">
			<div class="col-sm-1 col-md-1 col-lg-1 col-xs-1 image-container">
				<img src="{% static "dog.jpg" %}" alt="Picture of DOGGO" />
			</div>
		</div>
	</div>
	{% endblock %}
	
	
	<script src="{% static "js/jquery-3.3.1.js" %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-formhelpers/2.3.0/js/bootstrap-formhelpers.min.js"></script>
	<script src="{% static "js/valid8.min.js" %}"></script>
	<script src="{% static "js/colores.js" %}"></script>
	
	
	{% block local_script %}
	{% endblock %}	
	
</body>
</html>
