{% extends 'base.html' %}
{% block body_block %}
	<h1>Dogggy summary</h1>
	Dog name:{{ dog.name }}<br>
	Dog color:{{ dog.color }}<br>
	<br>
	Fleas:<br>
	{% for flea in fleas %}
		<li>{{ flea.name }}</li>
		<li>{{ flea.teeth_number }}</li>
		<li>{{ flea.is_lethal }}</li>
		<li>{{ flea.phone }}</li>
		<li>{{ flea.arrival_day }}</li>
		<br>
	{% endfor %}
	<a href='/dog/{{ dog.slug }}/add_flea/'>Add a new juicy flea</a>
{% endblock %}>

