{% if dogs %}
    <ul class="nav nav-sidebar">
    <b>Doggies</b>
    <br/>
    {% for d in dogs %}
    	{% if d == active_dog %}
	       <li class="active">
        {% else %}
	       <li>
        {% endif %}
         <a href="{% url 'dog' d.slug %}">{{ d.name }}</a></li>
    {% endfor %}
{% else %}
    	<li> <strong >There are no pals scratching...</strong></li>
    </ul>
{% endif %}
<br/>
<p>
	<a href="/add_dog/">Add a New Dogggy</a><br />
</p>