{% extends 'base.html' %}
{% block content %}
	<h1>List of flea infested motherfuckers:</h1>
        {% if dogs %}
            <ul>
                {% for dog in dogs %}
                	<li><a href="dog/{{ dog.slug }}">{{ dog.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <strong>There are no dogs scratching.</strong>
        {% endif %}
	<a href="add_dog/"><b>Add a New DOGGO</b></a><br />
{% endblock %}
{% block home %}
{% endblock %}
